.amount-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 40px;
}

.input {
    display: flex;
    flex-direction: column;
}
.input-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #1e2a32;
    margin-bottom: 4px;
}

.amount-input {
    position: relative;
}
.amount-input span {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #cbd5dc;
    font-size: 24px;
}
.amount-input input {
    padding-left: 30px;
    width: 272px;
    height: 56px;
    border: 1px solid #e9eef2;
    border-radius: 4px;
    outline: none;

    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #4d6475;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.number-input {
    width: 192px;
    height: 56px;
    border: 1px solid #e9eef2;
    border-radius: 4px;
    outline: none;
}
.number-input input {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    /* $blueGray400 */
    color: #708797;
}

.custom-number-input input:focus {
    outline: none !important;
}

.custom-number-input button:focus {
    outline: none !important;
}

.result {
    display: flex;
    flex-direction: column;
    margin: 24px 40px;
    border: 1px solid #e9eef2;
}

.monthly-container {
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
}

.monthly-amount {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #1e2a32;
}

.monthly-result {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #0079ff;
}
.loan-details {
    background: #f4f8fa;
}
.loan-details p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #1c1e1f;
    margin: 24px 32px;
}
.loan-details span {
    font-weight: 700;
}

.apply-now {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 120px;
    margin-bottom: 40px;
}
.apply-now button {
    width: 320px;
    height: 56px;
    left: 120px;
    top: 415px;
    background: #1b31a8;
    border-radius: 32px;

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
}

.disable {
    cursor: not-allowed;
}

@media (max-width: 600px) {
    .amount-form {
        flex-direction: column;
    }

    label {
        padding-left: 15px;
    }

    .amount-input span {
        padding: 0 14px;
    }

    .amount-input input {
        min-width: 90vw;
        margin: 0 14px;
    }

    .custom-number-input {
        margin-top: 16px;
    }

    .number-input {
        min-width: 90vw;
        margin: 0 14px;
    }
}
