@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "WorkSans-Regular";
    src: url(./assets/fonts/static/WorkSans-Regular.ttf);
}
@font-face {
    font-family: "Rubik-Bold";
    src: url(./assets/fonts/static/Rubik-Bold.ttf);
}

@layer base {
    html {
        background-color: #e5e5e5;
        font-family: WorkSans-Regular, system-ui, sans-serif;
    }
}

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
